[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
	branch = release/9.x
[submodule "llvm-hs"]
	path = llvm-hs
	url = https://github.com/andrew-wja/llvm-hs.git
	branch = llvm-9
[submodule "llvm-hs-pretty"]
	path = llvm-hs-pretty
	url = https://github.com/andrew-wja/llvm-hs-pretty.git
	branch = master
